* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    text-align: center;
}

 .top  h1 {
    font-family: Ubuntu Mono, monospace;
    color: red;
    font-size: xx-large;
}

.top p {
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navcontent {
    margin-top: 1rem;
    background-color: grey;
    /* overflow: hidden; */
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}

.navimg {
    width: 4%;
    height: 7vh;
}

.navsup2 {
    display: flex;
    justify-content: center;
}

.navsup2 ul {
    list-style: none;

}

.navsup2 ul,
li {
    float: left;
}

.navsup2 ul,
li,
a {
    text-decoration: none;
    margin: 5px 7px;
    color: white;
    border-radius: 20px;
    padding: 2px;
}

a:hover {
    background-color: red;
}

.sec1 {
    background: url(/asset/bgimg.jpg)no-repeat center / cover;
    width: 100%;
    height: 59vh;
    border: 2px solid black;
    border-bottom-left-radius: 6rem;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
}

.sec1 h1 {
    margin-top: 2rem;
}

button {
    border-radius: 1rem;
    border: 3px solid white;
    background-color: yellow;
    margin-top: 1rem;
    font-weight: bolder;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: red;
}

.sec2 {
    display: flex;
    position: absolute;
    top: 21rem;
    left: 17rem;
}

.secsub1 {
    background-image: url(./asset/navimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 23vw;
    height: 20vh;
    border-radius: 30px;
    box-shadow: 1px 0px 18px 19px black;
    justify-content: center;
    display: flex;
    align-items: end;
    margin: 1rem 3rem 3rem 3rem;
}

.secsub2 {
    background-image: url(./asset/sec2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 23vw;
    height: 20vh;
    border-radius: 30px;
    box-shadow: 1px 0px 18px 19px black;
    justify-content: center;
    display: flex;
    align-items: end;
    margin: 1rem 3rem 3rem 3rem;
}

.card{
    text-align: center;
    font-family: Ubuntu Mono, monospace;
    color: red;
    font-size: xx-large;
}

.supcard{
    
}
.card1 img{
        width: 33.33%;
        height: 50vh;
        float: left;
        padding: 10px;
        border-radius: 25px;

}
.bt{
        border-radius: 1rem;
    border: 3px solid white;
    background-color: yellow;
    margin-top: 1rem;
    font-weight: bolder;
    font-family: monospace;
    font-size: x-large;
}